doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{raza}
        link(rel="stylesheet" href="perro.css")
    head

body
    main
        h1 #{raza}
        figure
            img(src=data.imagen)
            figcaption #{data.texto}
        a(href="/") Regresar